@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&display=swap');

/* Variables */
:root {
    --primary: #F4DC0A;
    --secondary: #495F1D;
    --tertiary: #FEE600;
    --accents: #C2C674;
    --textColor: #333333;
    --btnColor: #4F4F4F;
    --white: #ffff;
    --dark: #000;
    --background: #FAF9F5;
    --background2: #E5E5E5;


    --transitions: .3s linear;
    --lineHeight: 24px;
    --fontSize: 15px;


    --headingsFonts: 'Playfair Display', serif;
    --bodyFonts: 'Raleway', sans-serif;
}

/* Basic Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFonts);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingsFonts);
    color: var(--secondary);
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-family: var(--bodyFonts);
    font-style: normal;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    color: var(--textColor);
    
}

a {
    text-decoration: none;
    transition: var(--transitions);
}

.container {
    width: 80%;
    margin: auto;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.stretch {
    align-items: stretch;
}

.alignCenter {
    align-items: center;
}

.py {
    padding-top: 100px 0;
}

/* Top Bar */
.topBar div:first-child {
    margin-top: 15px;
}

.fa-eye {
    margin-left: -45px;
}


.map i {
    margin: 0 10px 0 30px;
    color: var(--tertiary);
    font-size: 24px;
}

.map {
    margin-top: 15px;
}


.topBar a img:hover {
    opacity: 0.7;
    transition: var(--transitions);
}

/* Nav Bar */


.activeDiv {
    display: none;
}


nav {
    max-height: 66px;
}

nav ul {
    list-style: none;
}
nav li{
    text-transform: uppercase;
    
}

nav a {
    color: var(--textColor); 
}


nav a:hover {
    color: var(--primary);
}

nav span a {
    border: 1px solid var(--textColor);
    padding: 10px 50px;
}

nav span a:hover {
    transition: var(--transitions);
    border: 2px solid var(--primary);
    border-radius: 35px 0 35px 0;
    color: var(--primary);
}

/* ? Header */
header {
    background-image: url(./img/header.jpg);
    height: 65vh;
    display: flex;
}

header a {
    padding: 16px 80px;
    background-color: var(--tertiary);
    text-transform: uppercase;
    color: var(--textColor);
    border-radius: 10px;
}

header a:hover {
    border-radius: 35px 0;
}

header h1 {
    width: 48%;
    padding-bottom: 35px;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ceo */
.ceo {
    background-color: var(--background);
    padding: 60px;
}

.ceo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ceo h3 {
    width: 60%;
}

.ceo p {
    margin-top: 20px;
    text-transform: uppercase;
}

/* About us */
.aboutUs {
    background-color: var(--background2);
    padding-bottom: 60px;
}

.aboutUs article:first-child {
    margin: auto;
    text-align: center;
    width: 44%;
    padding: 60px 0;
}

.aboutUs h2 {
    margin-bottom: 30px;
    padding-top: 20px;
}

.plan div {
    flex: 0 0 32%;
    background-color: var(--background);
    text-align: center;
    width: 370px;
    height: 300px;
    margin-top: 60px;
    overflow: hidden;
}

.plan div:nth-child(2) {
    background-color: var(--tertiary);
}

.plan p {
    width: 80%;
    margin: auto;
}

.plan h5 {
    margin: 20px 0 25px 0;
}

.plan img {
    padding-top: 50px;
}

/* Our Mission */
.ourMission {
    display: flex;
    background-color: var(--background);
}

.ourMission p {
    width: 60%;
    margin-left: 200px;
    padding: 20px 0;
}

.ourMission h2 {
    margin-left: 200px;
}

.ourMission div {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.ourMission a {
    padding: 16px 80px;
    background-color: var(--tertiary);
    text-transform: uppercase;
    color: var(--textColor);
    border-radius: 10px;
    margin-left: 200px;
}

.ourMission a:hover {
    border-radius: 35px 0;
}

/* customer */
.customer {
    background-image: url(./img/customer.jpg);
    height: 45vh;
}


.customer i {
    color: var(--primary);
    font-size: 200px;
    opacity: 0.2;
}

.hit {
    text-align: end;
    color: var(--primary);
    font-size: 94px;
    font-weight: bold;
    margin-top: -100px;
    font-family: var(--headingsFonts);
}

.customer article {
    align-items: center;
}

.customer p:last-child {
    color: var(--white);
    margin-top: 90px;
    text-align: center;
}

/* Testimonials*/
.testimonials {
    background-image: url(./img/testimonials.jpg);
    background-position: center;
    background-size: cover;
    height: 55vh;
    display: flex;
    justify-content: space-between;
}

.testimonials img {
    margin: 0 80px 30px 0;
}

.testimonials article {
    justify-content: stretch;
}

.testimonials article:first-child {
    flex: 0 0 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials article:last-child {
    display: flex;
    justify-content: space-between;
    flex: 60%;
    padding-top: 70px;
}

.testimonials article:last-child div {
    text-align: center;
}

.testimonials article:last-child div p:last-child {
    text-transform: uppercase;
    font-weight: bold;
}

.testimonials p, .testimonials h4 {
    width: 80%;
}

/* Accordions */
.accordion {
    text-align: center;
    padding-bottom: 50px;
    background-color: var(--background2);
}
 .questions {
    padding: 50px 0;
 }

 .questions h2 {
    margin-bottom: 40px;
 }

 .accordion-body {
    text-align: start;
 }
  
/* Subscribe */
.subscribe {
    text-align: center;
    padding: 50px 0;
}

.subscribe div p {
    padding-bottom: 20px;
}

.subscribe form {
    position: relative;
}

.subscribe i {
    font-size: 25px;
    position: absolute;
    margin-top: 11px;
    margin-left: 5px;
    color: var(--tertiary);
}
.subscribe input {
    padding: 10px 32px;
    text-align: start;
    margin-right: 50px;
}

.subscribe div:last-child p {
    margin-top: 40px;
    text-transform: uppercase;
}

.btn-black {
    padding: 16px 80px;
    background-color: var(--tertiary);
    text-transform: uppercase;
    color: var(--textColor);
    border-radius: 10px;
    border: none;
}

.btn-black:hover {
    border-radius: 35px 0;
    transition: var(--transitions);
}

/* footer */
.cta {
    flex: 0 0 32%;
    padding: 25px 35px;
}

.cta img {
    margin-bottom: 24px;
}
footer {
    background-color: var(--background2);
    height: 50vh;
}

footer div:nth-child(2) {
    text-align: center;
}

footer div div:first-child p {
    display: inline-block;
    margin-right: 15px;
    text-transform: uppercase;
}

footer div div:first-child i {
    font-size: 28px;
    color: var(--textColor);
    padding: 10px 14px;
    background-color: var(--white);
    border-radius: 15px;
}

footer div div:first-child i:hover {
    background-color: var(--dark);
    color: var(--white);
    transition: .4s linear;
    border-radius: 25px 0 25px 0;
}

footer div div:nth-child(2) li {
    list-style: none;
    margin-bottom: 5px;
}

footer div div:nth-child(2) a {
    color: var(--textColor);
}

footer div div:nth-child(2) a:hover {
    color: var(--accents);
    transition: var(--transitions);
}

footer div div:nth-child(2) h5 {
    margin-top: 30px;
}

footer div div:nth-child(2) ul {
    margin-top: 20px;
}

footer div div:last-child h5 {
    margin: 23px 0;
}

/* Responsive for mobile phone - Samsung S20 ultra */

@media screen and (max-width: 412px) {

}
    
