@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&display=swap');

/* Variables */
:root {
    --primary: #F4DC0A;
    --secondary: #495F1D;
    --tertiary: #FEE600;
    --accents: #C2C674;
    --textColor: #333333;
    --btnColor: #4F4F4F;
    --white: #ffff;
    --dark: #000;
    --background: #FAF9F5;
    --background2: #E5E5E5;


    --transitions: .3s linear;
    --lineHeight: 24px;
    --fontSize: 15px;


    --headingsFonts: 'Playfair Display', serif;
    --bodyFonts: 'Raleway', sans-serif;
}

/* Basic Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFonts);
    font-weight: 400;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headingsFonts);
    color: var(--secondary);
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-family: var(--bodyFonts);
    font-style: normal;
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    color: var(--textColor);

}

a {
    text-decoration: none;
    transition: var(--transitions);
}


.py-5 {
    padding: 100px 0 !important;
}

.myBtn {
    padding: 16px 80px;
    background-color: var(--tertiary);
    text-transform: uppercase;
    color: var(--textColor);
    border-radius: 10px;
}

.myBtn:hover {
    border-radius: 35px 0;
}

/* ******************************** */

/* Nav Bar */
.navbar-nav {
    text-transform: uppercase;
}

.navbar-nav i {
    color: var(--white);
}

.navbar-nav li a {
    color: var(--white);
    transition: var(--transitions);
}

.navbar-nav li a:hover {
    color: var(--secondary);
}

.navbar-nav li:nth-child(7) a {
    border: 1px solid var(--white);
    margin-right: 10px;

}

.navbar-nav li:nth-child(7) a:hover {
    border-radius: 25px 0;
}

/* Sticky */

.stickyAdd {
    position: fixed;
    width: 100%;
    background: var(--tertiary);
    transition: var(--transitions);
}

.stickyAdd .navbar-nav li a {
    color: var(--secondary);
}

.stickyAdd .navbar-nav li:nth-child(7) a {
    border: 1px solid var(--secondary);
}

.stickyAdd .navbar-nav li a:hover {
    color: var(--white);
}

.stickyAdd .navbar-nav i {
    color: var(--secondary);
}




/* Header */
header {
    background-image: url(./img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}


header h1 {
    width: 48%;
    padding-bottom: 35px;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ceo */
.ceo h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

/* About us */
.aboutUs {
    background-color: var(--background2);
}

.plan {
    display: flex;
    gap: 30px;
}

.plan img {
    width: 60px;
}

.plan div {
    background-color: var(--background);
    width: calc(32.4% - 10px);
    height: 300px;
}

.plan div:nth-child(2) {
    background-color: var(--tertiary);
}

/* Back to top */
.toTop {
    cursor: pointer;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    background-color: var(--tertiary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transitions);

    text-decoration: none;
    opacity: 0;
}

.toTop i {
    font-size: 20px;
    color: #495F1D;
}

.toTop.toTopAdd {
    opacity: 1;
    bottom: 32px;
}





/* Our Mission */


/* customer */
.customer {
    background-image: url(./img/customer.jpg);
}

.customer article {
    padding: 60px 0;
}


.customer i {
    color: var(--primary);
    font-size: 200px;
    opacity: 0.2;
}

.hit {
    text-align: end;
    color: var(--primary);
    font-size: 94px;
    font-weight: bold;
    margin-top: -100px;
    font-family: var(--headingsFonts);
}

.customer article {
    align-items: center;
}

.customer p:last-child {
    color: var(--white);
    margin-top: 90px;
    text-align: center;
}

/* Testimonials*/
.testimonials {
    background-image: url(./img/testimonials.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.testimonials h2 {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
}

.testimonials article {
    flex: 0 0 40%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.testimonials article div {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.testimonials img {
    width: 100px;
}

.testimonials h4 {
    margin-top: 25px;
}


/* Accordions */
.accordion {
    text-align: center;
    padding-bottom: 50px;
    background-color: var(--background2);
}

.questions {
    padding: 50px 0;
}

.questions h2 {
    margin-bottom: 40px;
}

.accordion-body {
    text-align: start;
}

/* Subscribe */
.subscribe {
    text-align: center;
}

.subscribe i {
    font-size: 28px;
    position: relative;
    margin-left: 10px;
    top: 5px;
    color: var(--primary);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
}

.subscribe input {
    background-color: rgb(221, 218, 218);
    color: #2e2a2a;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    transition: var(--transitions);
    border: 1px solid transparent;
}

.subscribe input:hover {
    cursor: pointer;
    background-color: rgb(241, 238, 238);
}

.subscribe input:focus {
    cursor: text;
    border: 2px solid var(--primary);
    background-color: white;
}

.subscribe div:last-child p {
    margin-top: 40px;
    text-transform: uppercase;
}

.subscribe form input:last-child {
    padding: 10px 40px;
    margin-left: 10px;
    background-color: var(--primary);
    color: #2e2a2a;
    transition: var(--transitions);

}

.subscribe form input:last-child:hover {
    border-radius: 35px 0;

}


/* footer */
.cta {
    flex: 0 0 32%;
    padding: 30px;

}

footer {
    background-color: var(--background2);
    padding: 20px;
}

footer>p {
    text-align: center;
}

footer h5,
footer img {
    margin-bottom: 35px;
}

footer div div:first-child i {
    font-size: 28px;
    color: var(--textColor);
    padding: 10px 14px;
    background-color: var(--white);
    border-radius: 15px;
}

footer div div:first-child i:hover {
    background-color: var(--dark);
    color: var(--white);
    transition: .4s linear;
    border-radius: 25px 0 25px 0;
}

footer div div:nth-child(2) li {
    list-style: none;
    margin-bottom: 15px;
}

footer div div:nth-child(2) a {
    color: var(--textColor);
}

footer div div:nth-child(2) a:hover {
    color: var(--accents);
    transition: var(--transitions);
}

.foo {
    align-items: stretch;
    text-align: center;
}





/* Responsive for mobile phone - Samsung S20 ultra */

/* ? IN PROGRESS ... */